@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="jumbotron text-center">
        <input id="a1" type="text" placeholder="a1" />
        <input id="a2" type="text" placeholder="a2" />
        <input id="distance" type="text" placeholder="distance" />
        <input id="time" type="text" placeholder="time point" /><br /><br />
        <button onclick="drawChart()" class="btn">Build</button>
    </div>
    <div class="row">
    </div>
    <div id="chart"></div>
    <div id="error" class="alert alert-danger hide"></div>
</div>
