@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="jumbotron text-center">
        <label for="a">a</label>
        <input id="a" type="text" placeholder="a" value="10" />
        <label for="k">k</label>
        <input id="k" type="text" placeholder="k" value="5"/>

        <input type="radio" name="type" value="0" checked>Ланка підсилення
        <input type="radio" name="type" value="1">Аперіодична ланка<br><br>

        <button onclick="drawChart(0)" class="btn">F(t)</button>
        <button onclick="drawChart(1)" class="btn">A(ω)</button>
        <button onclick="drawChart(2)" class="btn">ϕ(ω)</button>
    </div>
    <div class="row">
    </div>
    <div id="chart"></div>
    <div id="error" class="alert alert-danger hide"></div>
</div>
