@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="jumbotron text-center">
        <label for="Tu">Tu</label>
        <input id="Tu" type="text" placeholder="Tu" value="10" />
        <label for="Tg">Tg</label>
        <input id="Tg" type="text" placeholder="Tg" value="5" />
        <label for="T">T</label>
        <input id="T" type="text" placeholder="T" value="5" /><br />
        <label for="thetaCoefficient">θ coefficient</label>
        <input id="thetaCoefficient" type="text" placeholder="θ coefficient" value="1" />
        <label for="N">N</label>
        <input id="N" type="text" placeholder="Number of points" value="100" /><br /><br />

        <button onclick="drawChart(0)" class="btn">Пропорційно-інтегродиференціальний алгоритм</button>
        <button onclick="drawChart(1)" class="btn">Пропорційно-інтегральний алгоритм</button>
    </div>
    <div class="row">
    </div>
    <div id="chart"></div>
    <div id="error" class="alert alert-danger hide"></div>
</div>
