@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="jumbotron text-center">
        <label for="time">Time interval</label>
        <input id="time" type="text" placeholder="interval between points" value="0.001" />
        <label for="a1">a1</label>
        <input id="a1" type="text" placeholder="a1" value="10" />
        <label for="a2">a2</label>
        <input id="a2" type="text" placeholder="a2" value="5"/><br /><br />
        <label for="x0">x0</label>
        <input id="x0" type="text" placeholder="x0" value="0"/>
        <label for="x1">x1</label>
        <input id="x1" type="text" placeholder="x1" value="50"/><br /><br />
        <button onclick="drawChart()" class="btn">Build</button>
    </div>
    <div class="row">
    </div>
    <div id="chart"></div>
    <div id="error" class="alert alert-danger hide"></div>
    <div id="success" class="alert alert-success hide"></div>
</div>
